---
import FleetCard from "@/components/FleetCard.astro";
import { fleets } from "@/lib/fleet.data";
---

<section
    class="max-w-8xl mx-auto flex flex-col gap-6 md:gap-8 my-16 md:my-20 px-6 md:px-0"
    id="flota"
>
    <div class="flex flex-col items-center gap-2 text-center">
        <h2 class="text-2xl md:text-3xl font-extrabold text-primary">
            Nuestra flota
        </h2>
        <h1
            class="uppercase font-black text-3xl md:text-4xl tracking-wide max-w-2xl text-center"
        >
            Maquinaria propia en óptimo estado
        </h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8 md:px-20">
        {
            fleets.map((fleet) => (
                <FleetCard
                    image={fleet.image}
                    title={fleet.title}
                    items={fleet.items}
                />
            ))
        }
    </div>
</section>
