---
import LogoSvg from "@/../public/logo.svg";
---

<header
    class="fixed top-0 bg-white/90 border-b border-primary/20 backdrop-blur-xl z-10 w-full"
>
    <nav
        class="max-w-8xl mx-auto flex justify-between items-center py-0.75 font-medium uppercase text-sm"
    >
        <div class="flex items-center gap-4">
            <LogoSvg class="h-12" />
            <a
                href="#nosotros"
                class="hover:text-primary transition-colors duration-300"
                >Nosotros</a
            >
            <a
                href="#servicios"
                class="hover:text-primary transition-colors duration-300"
                >Servicios</a
            >
            <a
                href="#proceso"
                class="hover:text-primary transition-colors duration-300"
                >Proceso</a
            >
            <a
                href="#flota"
                class="hover:text-primary transition-colors duration-300"
                >Flota</a
            >
            <a
                href="#proyectos"
                class="hover:text-primary transition-colors duration-300"
                >Proyectos</a
            >
        </div>
        <div class="flex items-center gap-4">
            <a href="" class="hover:text-primary transition-colors duration-300"
                >+51 981 234 567</a
            >
            <a
                href=""
                class="bg-primary px-4 py-1.75 text-white font-semibold rounded-lg hover:bg-primary/90 transition-colors duration-300 cursor-pointer"
            >
                Cotiza
            </a>
        </div>
    </nav>
</header>
