---
import LogoSvg from "@/../public/logo.svg";
import { MobileNav } from "@/components/MobileNav";
---

<header
    class="fixed top-0 bg-white/90 border-b border-primary/20 backdrop-blur-xl z-999 w-full"
>
    <nav
        class="max-w-8xl mx-auto px-6 py-2 md:py-0.75 flex justify-between items-center font-medium uppercase text-sm"
    >
        <div class="flex items-center gap-4">
            <LogoSvg class="h-10 md:h-12" />
            <div class="hidden lg:flex items-center gap-4 ml-4">
                <a
                    href="#nosotros"
                    class="hover:text-primary transition-colors duration-300"
                    >Nosotros</a
                >
                <a
                    href="#servicios"
                    class="hover:text-primary transition-colors duration-300"
                    >Servicios</a
                >
                <a
                    href="#proceso"
                    class="hover:text-primary transition-colors duration-300"
                    >Proceso</a
                >
                <a
                    href="#flota"
                    class="hover:text-primary transition-colors duration-300"
                    >Flota</a
                >
                <a
                    href="#proyectos"
                    class="hover:text-primary transition-colors duration-300"
                    >Proyectos</a
                >
            </div>
        </div>

        <div class="hidden md:flex items-center gap-4">
            <a
                href="https://wa.me/51979626232"
                target="_blank"
                class="hover:text-primary transition-colors duration-300"
                >+51 979 626 232</a
            >
            <a
                href="#contacto"
                class="bg-primary px-4 py-1.75 text-white font-semibold rounded-lg hover:bg-primary/90 transition-colors duration-300 cursor-pointer"
            >
                Cotiza
            </a>
        </div>

        <div class="md:hidden flex items-center">
            <MobileNav client:load />
        </div>
    </nav>
</header>
