---
import HeroImage from "@/assets/hero.jpg";
import Wrench from "@/assets/icons/wrench.svg";
import Cube from "@/assets/icons/cube.svg";
import Truck from "@/assets/icons/truck.svg";
---

<section
    class="relative flex items-center justify-start overflow-hidden w-full text-white bg-linear-to-r from-black/95 via-black/90 to-black/80"
>
    <img
        src={HeroImage.src}
        alt=""
        class="absolute inset-0 w-full h-full object-cover opacity-20"
    />
    <div
        class="relative max-w-8xl mx-auto flex flex-col items-start gap-4 z-1 px-6 lg:px-0 w-full pb-40 pt-50"
    >
        <div class="flex flex-wrap items-center gap-2">
            <h3
                class="px-3 py-1 text-sm font-semibold rounded-full text-white bg-primary flex items-center gap-1"
            >
                <Wrench class="size-4" />
                Construcción
            </h3>
            <h3
                class="px-3 py-1 text-sm font-semibold rounded-full text-white bg-primary flex items-center gap-1"
            >
                <Truck class="size-4" />
                Flota
            </h3>
            <h3
                class="px-3 py-1 text-sm font-semibold rounded-full text-white bg-primary flex items-center gap-1"
            >
                <Cube class="size-4" />
                Agregados
            </h3>
        </div>

        <h1 class="text-5xl lg:text-6xl font-extrabold max-w-2xl">
            Ejecutamos con <span class="text-accent">Maquinaria Propia</span> y Control
            Total
        </h1>

        <h2
            class="text-lg lg:text-xl max-w-2xl text-white/90 mt-2 font-medium leading-relaxed"
        >
            Flota operativa, operadores certificados y respaldo técnico para
            proyectos de infraestructura, movimiento de tierras y construcción
            en todo el Perú.
        </h2>

        <div class="flex flex-wrap gap-4 mt-3 items-center">
            <a
                href="#"
                class="text-white bg-primary text-base font-bold px-6 py-3 rounded-xl hover:bg-primary/90 duration-200 transition-colors uppercase"
            >
                Solicitar cotización
            </a>
            <a
                href="#"
                class="text-black bg-accent text-base font-bold px-8 py-3 rounded-xl transition-transform hover:scale-105 uppercase tracking-wide"
            >
                Ver flota
            </a>
        </div>
    </div>
</section>
