---
import { PortfolioCarousel } from "@/components/PortfolioCarousel";
---

<section class="bg-gray-100 py-16 md:py-20" id="proyectos">
    <div class="max-w-8xl mx-auto px-6 xl:px-0">
        <PortfolioCarousel client:only="react" />
    </div>
</section>
