---
import ClipboardCheck from "../assets/icons/clipboard-check.svg";
import Calendar from "../assets/icons/calendar.svg";
import LightBulb from "../assets/icons/light-bulb.svg";
import ShieldCheck from "../assets/icons/shield-check.svg";
import ArrowTrendingUp from "../assets/icons/arrow-trending-up.svg";
---

<section class="bg-gray-950 py-20 scroll-mt-10" id="proceso">
    <div class="max-w-8xl flex flex-col gap-8 w-full mx-auto">
        <div class="flex flex-col items-center gap-2">
            <h2 class="text-3xl font-extrabold text-accent">
                Proceso de trabajo
            </h2>
            <h1 class="uppercase font-black text-4xl tracking-wide text-white">
                Metodología clara y probada
            </h1>
        </div>
        <div class="w-full gap-6 grid grid-cols-5">
            <div
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <ClipboardCheck class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >01</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Evaluación inicial
                </h3>
                <p class="text-white/80 text-sm">
                    Análisis técnico del proyecto y requerimientos del cliente.
                </p>
            </div>
            <div
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <LightBulb class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >02</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Propuesta técnica
                </h3>
                <p class="text-white/80 text-sm">
                    Cotización detallada con equipos, plazos y condiciones.
                </p>
            </div>
            <div
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <Calendar class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >03</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Programación
                </h3>
                <p class="text-white/80 text-sm">
                    Planificación de cronograma y asignación de recursos.
                </p>
            </div>
            <div
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <ArrowTrendingUp class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >04</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">Ejecución</h3>
                <p class="text-white/80 text-sm">
                    Operación con maquinaria propia y operadores certificados.
                </p>
            </div>
            <div
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <ShieldCheck class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >05</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Supervisión y Entrega
                </h3>
                <p class="text-white/80 text-sm">
                    Control de calidad y entrega conforme al proyecto.
                </p>
            </div>
        </div>
    </div>
</section>
