---
import ClipboardCheck from "../assets/icons/clipboard-check.svg";
import Calendar from "../assets/icons/calendar.svg";
import LightBulb from "../assets/icons/light-bulb.svg";
import ShieldCheck from "../assets/icons/shield-check.svg";
import ArrowTrendingUp from "../assets/icons/arrow-trending-up.svg";
---

<section
    class="bg-gray-950 py-16 md:py-20 scroll-mt-10"
    id="proceso"
    aria-labelledby="process-title"
>
    <div class="max-w-8xl flex flex-col gap-8 w-full mx-auto px-6 xl:px-0">
        <div class="flex flex-col items-center gap-2 text-center">
            <p class="text-2xl md:text-3xl font-extrabold text-accent">
                Proceso de trabajo
            </p>
            <h2
                id="process-title"
                class="uppercase font-black text-3xl md:text-4xl tracking-wide text-white"
            >
                Metodología clara y probada
            </h2>
        </div>
        <ol
            class="w-full gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5"
        >
            <li
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <ClipboardCheck class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >01</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Evaluación inicial
                </h3>
                <p class="text-white/80 text-sm">
                    Análisis técnico del proyecto y requerimientos del cliente.
                </p>
            </li>
            <li
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <LightBulb class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >02</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Propuesta técnica
                </h3>
                <p class="text-white/80 text-sm">
                    Cotización detallada con equipos, plazos y condiciones.
                </p>
            </li>
            <li
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <Calendar class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >03</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Programación
                </h3>
                <p class="text-white/80 text-sm">
                    Planificación de cronograma y asignación de recursos.
                </p>
            </li>
            <li
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <ArrowTrendingUp class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >04</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">Ejecución</h3>
                <p class="text-white/80 text-sm">
                    Operación con maquinaria propia y operadores certificados.
                </p>
            </li>
            <li
                class="flex flex-col gap-1 p-6 relative text-center border border-accent bg-accent/10 rounded-lg"
            >
                <ShieldCheck class="size-9 text-accent place-self-center" />
                <span
                    class="text-accent/50 font-black text-3xl absolute top-4 right-4"
                    >05</span
                >

                <h3 class="text-xl font-extrabold text-white z-1">
                    Supervisión y Entrega
                </h3>
                <p class="text-white/80 text-sm">
                    Control de calidad y entrega conforme al proyecto.
                </p>
            </li>
        </ol>
    </div>
</section>
