---
import "../styles/global.css";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/AYM LOGOS FINALES-01.png" />
		<meta name="generator" content={Astro.generator} />
		<title>AyM Corporación de Negocios</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
